<head>
    <link rel="stylesheet" href="~/StyleSheet.css" />
</head>

<body>
    <h1>Async Inn</h1>

    <ul>
        <li><a class="active" href="/">HOME</a></li>
        <li><a href="/Hotels">HOTELS</a></li>
        <li><a href="/HotelRooms">HOTEL ROOMS</a></li>
        <li><a href="/Rooms">ROOMS</a></li>
        <li><a href="Amenities">AMENITIES</a></li>
    </ul>

</body>