<head>
    <link rel="stylesheet" href="~/StyleSheet.css" />
</head>

<body>
    <h1>Async Inn</h1>

    <ul>
        <li>
            <a href="/Hotels">Hotels</a>
        </li>
        <li>
            <a href="/HotelRooms">Hotel Rooms</a>
        </li>
        <li>
            <a href="/Rooms">Rooms</a>
        </li>
        <li>
            <a href="/Amenities">Amenities</a>
        </li>
    </ul>


</body>