<head>
    <link rel="stylesheet" href="~/StyleSheet.css" />
</head>

<body>
    <h1>Async Inn</h1>

    <a href="/Hotels">Hotels</a>
    <a href="/HotelRooms">Hotel Rooms</a>
    <a href="/Rooms">Rooms</a>
    <a href="/Amenities">Amenities</a>

</body>