
h1 {
    margin: 0;
    padding: 9px 0;
    font-size: 75px;
    font-family: 'Playfair Display SC', serif;
    font-weight: 700;
    text-align: center;
    letter-spacing: 1px;
    color: #275ca0;
}

h2 {
    padding: 5px 0;
    font-size: 50px;
    font-family: 'Playfair Display SC', serif;
    text-align: center;
    letter-spacing: 2px;
}

body {
    font-size: 22px;
    margin: 1% 3% 5% 3%;
}

.topnav {
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: ghostwhite;
}

    .topnav a {
        float: left;
        display: block;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-family: 'Malgun Gothic';
        font-size: 18px;
        color: #666;
    }

.active {
    color: white;
    background-color: #cbe1f7;
}

.topnav .icon {
    display: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

    .dropdown .dropbtn {
        border: none;
        outline: none;
        margin: 0;
        text-align: center;
        padding: 14px 16px;
        font-family: 'Malgun Gothic';
        font-size: 18px;
        color: #666;
        background-color: ghostwhite;
    }

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.topnav a:hover, .dropdown:hover .dropbtn {
  background-color: #555;
  color: white;
}

.dropdown-content a:hover {
    background-color: #ddd;
    color: black;
}

.dropdown:hover .dropdown-content {
    display: block;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

form {
    margin-left: 2%;
}

div.form-group {
    padding: 10px;
}

label {
    font-size: 22px;
    padding-right: 25%;
}

.button {
    background-color: #3a6c9e;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 7px;
    text-transform: uppercase;
    font-family: Verdana;
}

th, td {
    padding: 15px;
    text-align: left;
}

th {
    font-weight: 900;
    font-size: 24px;
    text-transform: uppercase;
}